
.citacao-bio {
	background-color: #D9E5E3;
	border: .5rem solid #C2CCCA;
	width: 30ch;
	box-sizing: border-box;
	margin: 1em 2em;
    padding: 1em;
}

cite{
	float: right;
	font-style: italic;
	display: block;
}

.fiat{
	float: right;
}

.petrobras{
	float: left;
}