html{
	font-size: 120%;
}

body {
	font-family: "Crimson Text", "Times New Roman", serif;
	background-color: #F2FFFC;
	line-height: 1.5;
}

h1, h2 {
	font-family: "Open Sans Condensed", "Arial", sans-serif;
}

h2{
	clear: both;
}

.titulo-principal {
	text-align: center;
	text-transform: uppercase;
	background-color: #851944;
	color: #FFF;
	padding: 2rem;
	border-bottom: .5rem solid black;
	font-size: 300%;
}

p {
	text-align: justify;
	margin: 20px 0;
}

.navegacao-site {
	text-align: center;
	text-transform: uppercase;
	background-color: #3C1D3D;
	color: #F2FFFC;
}

.navegacao-site a{
	text-transform: lowercase;
	color: inherit;
	font-family: "Open Sans Condensed", sans-serif;
}

.rodape-pagina {
	background-color: #000;
	color: #F2FFFC;
	padding: 10px;
}

main a {
	color: #851944;
}

.navegacao-site, .rodape-pagina {
    padding: 20px;
}

.container {
	width: 720px;
	margin: auto;
	padding: 30px 0;
	padding-bottom: 100px;
}

.navegacao-site h1 {
	font-size: 30px;
	margin-bottom: 25px;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

.subtitulo-texto {
	font-size: 30px;
	clear: both;
}

.icones-redes-sociais li {
	display: inline-block;
}

.icones-redes-sociais a{
	width: 40px;
	height: 40px;
	display: inline-block;
	text-indent: -1500000px;
}

.github{
	background-image: url(../img/github.png);
}

.twitter{
	background-image: url(../img/twitter.png);
}

.linkedin{
	background-image: url(../img/linkedin.png);
}

aside, .minha-foto{
	float: right;
	box-sizing: border-box;
	border-left: 11px solid black;
	border-bottom: 10px solid black;
}

.minha-foto{
	position: absolute;
	top: 0;
	right: 0;
}

aside{	
	clear: right;
	width: 15%;
	position: relative;
	top: 310px;
}

main{
	float: left;
	width: 85%;
}

footer{
	clear: both;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}